.product {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}

.productImg {
  height: 170px;
  background-color: var(--gray-color);
} 
.productImg img{
  height: 100%;
  width:100%;
  display:block;
      object-fit: cover;

}

.product h2 {
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

}

.product h3 {
  font-size: 13px;
}
.customButton{
    color: white !important;
    background-color: var(--background-color) !important;
}
.wishListBtn {
  position: absolute;
  top:5px;
  right:5px;
  /* background-color: white; */
  width:25px;
  height:25px;
  border-radius: 20px;
  cursor: pointer;
}