.product {
  width: 200px;
  max-height:350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}

.productImg {
  height: 250px;
}
.productImg img {
  height: 100%;
  width:100%;
  display:block;
  object-fit: cover;
}

.product h2 {
  font-size: 15px;
  width: 100%;
}

.product h3 {
  font-size: 12px;
}
.wishListBtn {
  position: absolute;
  top:5px;
  right:5px;
  width:25px;
  height:25px;
  border-radius: 20px;
  cursor: pointer;
}