:root {
    --primary-color: #42b883;
    --secondary-color: #347474;
    --accent-color: #35495e;
    --background-color: #ff7e67;
    --gray-color:lightgray;
}
.notFound{
    padding-top:15%;
    text-align: center;
}
.notFound h1 {
    font-size: 130px;
}
.notFound p {
    font-size:50px;
}

.navbar{
    background:var(--accent-color);
    border-radius:0.5rem;
}
.navbar-nav .dropdown-menu {
    background-color: var(--accent-color) !important;
    border-radius: 0.5rem;
    --bs-dropdown-link-active-bg:var(--secondary-color);

}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-dropdown-link-active-bg);
}
@media (max-width: 991px) {
.navbar-nav .dropdown-menu {
    border:none;
    background-color: white !important;
    --bs-dropdown-link-active-bg:lightgrey;
    --bs-dropdown-link-active-color:black;
}
}