
.headerContainer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 2.3rem;
}

.span{
    background: linear-gradient(135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 20%,
    var(--accent-color) 40%,
    var(--background-color) 60%,
    var(--gray-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
}